<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../Header/header.css"> <!-- Link para o arquivo CSS -->
</head>
<body>
    <div id="header" class="header-container">
        <nav>
            <ul>
                <li><a href="../Home/home.html">Página Inicial</a></li>
                <li><a href="../Sobre/sobre.html">Sobre</a></li>
                <li><a href="../Contato/contato.html">Contato</a></li>
                <li><a href="../Login/login.html">Login</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
